<footer>
    <div class="footer_section">
        <app-logo></app-logo>

        <app-nav-bar></app-nav-bar>

        <div class="contact_info_section">
            <ul class="contact_info_list">
                <li>
                    <img src="./assets/images/contact_icon/email.svg" alt="email.svg">
                    <span>hello@skillbirdge.com</span>
                </li>
                <li>
                    <img src="./assets/images/contact_icon/phone.svg" alt="phone.svg">
                    <span>+91 91813 23 2309</span>
                </li>
                <li>
                    <img src="./assets/images/contact_icon/location.svg" alt="location.svg">
                    <span>Somewhere in the World</span>
                </li>
            </ul>
        </div>

        <div class="footer_information_section">
            <div class="social_media_block">
                <ul class="social_media_list">
                    <li>
                        <img src="./assets/images/social_media_icon/facebook.svg" alt="facebook.svg">
                    </li>
                    <li>
                        <img src="./assets/images/social_media_icon/twitter.svg" alt="twitter.svg">
                    </li>
                    <li>
                        <img src="./assets/images/social_media_icon/linkedin.svg" alt="linkedin.svg">
                    </li>
                </ul>
            </div>

            <div class="rights_information">
                <span>YourBank All Rights Reserved</span>
            </div>

            <div class="another_footer_information">
                <span>Privacy Policy</span>
                <span>Terms of Service</span>
            </div>
        </div>
    </div>
</footer>
