footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1C1C1C;
  color: white;

  .footer_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    .contact_info_section {
      .contact_info_list {
        display: flex;

        li {
          display: flex;
          align-items: center;
          margin: 1rem;

          img {
            margin-right: 0.5rem;
          }
        }
      }
    }

    .footer_information_section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem;
      padding: 0 0.5rem;
      width: 100%;
      height: 5rem;
      background-color: #262626;
      color: white;
      border-radius: 4rem;

      .social_media_block {
        width: 30%;
        margin: 1rem;
        color: #B3B3B3;

        .social_media_list {
          display: flex;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #CAFF33;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            margin: 0 0.3rem;

            img {
              width: 1rem;
              height: 1rem;
            }
          }

          li:hover {
            cursor: pointer;
          }
        }
      }

      .rights_information {
        width: 30%;
        color: #B3B3B3;
        text-align: center;
      }

      .another_footer_information {
        width: 30%;
        margin: 1rem;
        text-align: end;

        span {
          padding: 0 0.5rem;
          color: #B3B3B3;
        }

        span:first-child {
          border-right: #B3B3B3 1px solid;
        }
      }
    }
  }
}