header {
  width: 100%;
  display: flex;
  justify-content: center;

  .header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 0 0.5rem;
    width: 80%;
    height: 5rem;
    background-color: #262626;
    color: white;
    border-radius: 4rem;

    .auth_block {
      .auth_page_list {
        display: flex;
        margin: 1rem;
        li {
          padding: 0.7rem 1rem;
          margin: 0 0.2rem;
        }

        li:hover {
          background-color: #CAFF33;
          color: #1E1E1E;
          border-radius: 4rem;
          cursor: pointer;
        }
      }
    }
  }
}